*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header{
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}
.header-content .navbar-brand i{
    color: #35a22c;
}
.header-content .navbar-brand span{
    font-size: 2rem;
}
.header-content .navbar-nav li a{
    color: #fff !important;
}
.header-content .navbar-nav li {
margin: 0 10px;
text-decoration: none;
}
.header-content .navbar-nav li.item1 a{
    color: #35a22c!important;
}
.header-content .navbar-nav li::after{
    content: "";
    display: block;
    width: 0;
    background-color: #35a22c;
    height: 2px;
    transition: all 0.5s;
}
.header-content .navbar-nav li:hover::after{
    width: 100%;
}
.header-content .navbar-nav li:hover a{
    color: #35a22c !important;
}
.header-content .navbar-nav li.item1::after{
    width: 100%;
}
.carousel-item{
    height: 700px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* lấy chiều cao tương đối với các màn hình */
}
.carousel-item:nth-child(1){
    background-image: url(../image/finland.jpg);
}
.carousel-item:nth-child(2){
    background-image: url(../image/mountains.jpg);    
}
.carousel-item:nth-child(3){
    background-image: url(../image/mountains-1.jpg);
}
.carousel-caption img{
    width: 170px;
    height: 170px;
    line-height: 170px;
    text-align: center;
    border-radius: 50%;
}
.carousel-caption{
    /* height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; */
    /* đã sử dụng position nên sử dụng position lun */
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h3{
    font-size: 60px;
    font-weight: 400;
}
.carousel-caption p{
    font-size: 1.5rem;
}
.carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%;

}
.carousel-indicators li.active{
    background-color:  #35a22c;
}
.carousel-indicators{
    bottom: 10%;
}
.card{
    margin-top: 30px;
    border-radius: 16px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0.4rem rgba(0,0,0,0.13);
}
.card-title,.card-text{
    text-align: center;
}
.card-title{
    font-size: 20px;
    font-weight: 400;
}
.card-text{
    color: #585858;
    transition: all 0.5s;
}
.project-title h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color: #1a1d2d;
}
.project-title p{
    color: #585858;
    line-height: 24px;
}
.card-body{
    border: 1px solid transparent;
    transition: all 0.5s;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top: none;
}
.card:hover .card-body{
    border-color:  #35a22c;

}
.card:hover .card-title{
    color: #35a22c;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #35a22c;
    
}
.project-content .nav-item{
    border: 1px solid #585858;
    border-radius: 5px;
    margin: 10px;
}
.project-content .nav-item a{
    color: #585858;
}
#service{
    background-image: url(../image/3.jpg);
    background-position: center;
    background-size: cover;
    padding: 5rem 0;
    background-attachment: fixed;
    position: relative;
}
#service .overlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #00000087;

}
#service .service-title{
    position: absolute;
}
.service-title{
    position: relative !important;
}
.service-title h1{
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
    color: white;
}
.service-title p{
    font-size: 18px;
    color: white;
}
.service-content .card{
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    background-color: #ffffff30;
    color: white;
    backdrop-filter: blur(4px);
    border: 1px solid #0000003d;
    transition: all 0.5s;
}
.service-content .card:hover{
    background-color: black;
    border-color: white;
}
.service-content .card-body i{
    font-size: 3rem;
    color: #35a22c;
    margin-bottom: 1rem;
}
.service-content .card-body h4{
    font-weight: 700;
}
.service-content .card-body p{
    color: #fff;
    font-size: 16px;
}
@media screen and (max-width: 992px) {
   .service-content .card{
    margin:1rem 0;
   }
  }
  